@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?35xgm3');
  src:  url('fonts/icomoon.eot?35xgm3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?35xgm3') format('truetype'),
    url('fonts/icomoon.woff?35xgm3') format('woff'),
    url('fonts/icomoon.svg?35xgm3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e906";
}
.icon-Hepand-Support:before {
  content: "\e900";
}
.icon-print:before {
  content: "\e901";
}
.icon-Purchase:before {
  content: "\e902";
}
.icon-report:before {
  content: "\e903";
}
.icon-Sales:before {
  content: "\e904";
}
.icon-Settings:before {
  content: "\e905";
}
